.search-container {
    background-color: #fff;
    padding: 7px 12px;
    height: 49px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f2f5;
}

.search-wrapper {
    background-color: #f0f2f5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 12px;
    height: 35px;
}

.search-icon {
    font-size: 14px;
    color: #667781;
    margin-right: 15px;
}

.search-input {
    background: transparent;
    border: none;
    width: 100%;
    font-size: 14px;
    outline: none;
    color: #3b4a54;
}

.search-input::placeholder {
    color: #667781;
}